.home-widget {
  position: fixed;
  top: 25px;
  left: 25px;  
  border: none;
  color: #293264;
  display: flex;
  align-items: center;
  background: none;
  cursor: pointer;
  z-index: 300;
}

.home-widget svg {
  width: 35px;   /* make icon bigger here */
  height: 35px;
}


.right-blobcorner {
    position: fixed;
    top: -100px;
    right: -100px;
    width: 300px;
    height: 300px;
    background-color: #FFFAD1;
    border-radius: 50%;
    z-index: -1;
}

.left-blob-bottomcorner {
    position: fixed;
    bottom: -100px;
    left: -100px;
    width: 297px;
    height: 235px;
    background-color: #DEEBF8;
    border-radius: 50%;
    z-index: -1;
}

.centered-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.centered-container h1 {
    font-size: 2.5rem;
    color: #293264;
    font-weight: bold;
}

.centered-container p {
    font-size: 1.1rem;
    color: #293264;
    font-weight: 400;
}

.start-btn {
    background-color: #4D5B9E;
    color: white;
    width: 193px;
    height: 52px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
}

