.right-blobcorner {
    position: fixed;
    top: -100px;
    right: -100px;
    width: 300px;
    height: 300px;
    background-color: #FFFAD1;
    border-radius: 50%;
    z-index: -1;
}

.left-blob-bottomcorner {
    position: fixed;
    bottom: -100px;
    left: -100px;
    width: 297px;
    height: 235px;
    background-color: #DEEBF8;
    border-radius: 50%;
    z-index: -1;
}

.centered-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.centered-container h1 {
    font-size: 2.5rem;
    color: #293264;
    font-weight: bold;
}

.centered-container p {
    font-size: 1.1rem;
    color: #293264;
    font-weight: 400;
}

.start-btn {
    background-color: #4D5B9E;
    color: white;
    width: 193px;
    height: 52px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
}

.question-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.question-block h3 {
    font-size: 1.5rem;
    color: #293264;
    font-weight: bold;
}

.question-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

questions {
    background-color: #293264;
    color: white;
    border: 1px solid #4D5B9E;
}

.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 per row */
    gap: 15px;
}

.option-btn {
    flex: 1 1 150px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    background-color: white;
    color: #293264;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #293264;
    border-radius: 15px;
    cursor: pointer;
}

.option-btn.selected {
  background-color: #4D5B9E;
  color: white;
}

.option-btn.correct {
  background-color: #94D7A2;
  border: none;
}

.option-btn.wrong {
  background-color: #F8BCBC;
  border: none;
}

.check-answers {
    background-color: #4D5B9E;
    color: white;
    width: 193px;
    height: 52px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
}

.check-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

